@font-face {
    font-family: "Basier Circle";
    font-weight: normal;
    src: url("https://res.cloudinary.com/dqyhh2jit/raw/upload/v1616442463/safeup/BasierCircle-Regular_s0cy7o.woff2") format("woff2");
    font-display: swap;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Basier Circle";
    font-weight: 400;
    src: url("https://res.cloudinary.com/dqyhh2jit/raw/upload/v1616442463/safeup/BasierCircle-Medium_avxh7e.woff2") format("truetype");
    font-display: swap;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Basier Circle";
    font-weight: 500;
    src: url("https://res.cloudinary.com/dqyhh2jit/raw/upload/v1616442463/safeup/BasierCircle-SemiBold_cdphzj.woff2") format("truetype");
    font-display: swap;
    text-rendering: optimizeLegibility;
}