$easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
$color-yellow: #f9d808;
$color-gray: #f2f5f5;
$color-white: #fff;
$color-black: #000;
$color-green: #3eae5e;
$radius-md: 10px;
// $radius-sm: 5px;
$radius-lg: 15px;
$container-width-default: 960px;